@import url(sanitize.css);

body{
    background-color: #e2edee;
    padding: 10px;
    font-size: 17px;
    /*color: #2E99A9;*/
    color: #777;
    font-family: "M PLUS Rounded 1c"; 
    text-align: center;
}

a{
    text-align: center;
    font-size: 20px;
    padding: 5px 5px;
}

.box1{
    text-align: center;
}

.section2{
    display: inline-block;
    width: 550px;
    vertical-align: top;
    /*margin: 20px 10px 0px 50px;*/
}

.section2 h2{
    text-align: center;
    margin: 10px 10px 10px 25px;
}

.section2 h3{
    text-align: left;
    font-weight: normal;
    margin: 10px 10px 10px 25px;
}

.section2 input{
    border-bottom: 1px silod #d1d1d1;
    font-size: 0.9em;
    width: 45%;
    text-align: left;
   /*padding: 8px;*/
}

.section2 p{
    text-align: left;
    font-size: 0.9em;
    margin: 10px 10px 10px 25px;
}

.section3{
    display: inline-block;
    text-align: left;
    font-size: 0.9em;
    width: 450px;
    margin: 10px 10px 10px 25px;
}

.section3 label{
    text-align: left;
    font-size: 1em;
    /*width: 600px;*/
    /*margin: 20px 10px 0px 50px;*/
}

.section3 select{
    border-bottom: 1px silod #d1d1d1;
    font-size: 0.9em;
    width: 20%;
    padding: 0px;
    text-align: center;
}


.section4{
    display: inline-block;
    text-align: left;
    font-size: 0.9em;
    width: 450px;
    margin: 10px 10px 10px 25px;
}

.section4 label{
    text-align: left;
    font-size: 1em;
    /*width: 600px;*/
    margin: 10px 0px 10px 0px;
}

.section4 select{
    border-bottom: 1px silod #d1d1d1;
    font-size: 0.9em;
    width: 40%;
    padding: 0px;
    text-align: center;
}

.section5{
    display: inline-block;
    text-align: center;
    font-size: 0.9em;
    margin: 10px 10px 10px 25px;
}

.section6{
    display: inline-block;
    width: 300px;
    vertical-align: top;
    /*margin: 20px 10px 0px 50px;*/
}

.section7{
    width: 300px;
    vertical-align: top;
    text-align: center;
    /*margin: 20px 10px 0px 50px;*/
}


#submit {
    /*display: block;*/
    cursor: pointer;
    font-size: 20px;
    padding: 5px 5px;
    width: 160px;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    border: 1px solid #232323;
}

#btn {
    cursor: pointer;
    font-size: 20px;
    padding: 5px 5px;
    width: 160px;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    border: 1px solid #232323;
} 

#return {
    cursor: pointer;
    font-size: 20px;
    padding: 5px 5px;
    width: 160px;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    border: 1px solid #232323;
} 

a{
    text-align: center;
    font-size: 20px;
    padding: 5px 5px;
}
/*.section2 img{
    text-align: left;
    width: 490px;
}

.section2 ol{
    float: right;
    list-style: none;
    text-align: left;
    font-size: 20px;
}*/

@media only screen and (max-width:700px){

    body{
        
        padding: 0px;
        font-size: 14px;
    }

    .container{
        margin: 0 auto;
    }

    .container header{
        padding: 5px;
        font-family: "Nico Moji";
        font-size: 24px;
    }

    .section2{
        display: inline;
        margin: 20px 0 0 0;
    }

    .section2 h2{
        text-align: center;
        margin: 20px 0 0 0;
    }

    .section2 img{
        text-align: center;
        margin: 0 auto;
        width: 300px;
    }

    .section2 ol{
        float: none;
        text-align: center;
        font-size: 12px;
        margin-right: 6%;
    }

    .section2 ol li{
        display: inline-block;
        margin: 5px;
    }

}